.login-content{
    display: flex;
    flex-direction: column;
    padding: 200px;
    align-items: center;
    background-image: url(../../../public/insper_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.login-logo{
    height: 3rem;
    width: 10rem;
    padding: 0.4%;
}

.img-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.text-email{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%
}

.text-senha{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
    padding-top: 0;
}

.text-senha2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10% 5% 10%;
}

.text-login{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-login2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2%;
}

.bottom-login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
