.signup-content{
    display: flex;
    flex-direction: column;
    padding: 200px;
    align-items: center;
    background-image: url(../../../public/insper_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.signup-logo{
    height: 3rem;
    width: 10rem;
    padding: 0.4%;
}

.img-area-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.text-email-signup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%
}

.text-senha-signup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
    padding-top: 0;
}

.senha-confirm-signup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
    padding-top: 0;
}

.text-signup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}