.appbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 0.5%;
    padding-right: 1%;
    padding-left: 1%;

}